@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&family=Kelly+Slab&family=Teko:wght@300;400;500;700&display=swap');

$big-SD-family: 'Big Shoulders Display', cursive;
$kelly-family : 'Kelly Slab', cursive;
$teko-family  : 'Teko', sans-serif;